.loginform {
    background-color: pink;
    margin: auto;
    width: 70%;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    border: 15px 23px yellow solid;
    box-shadow: 100px white;
    display: block;

    .login-wording {
        font-family: cursive;
        font-size: 3.8rem;
        margin-top:3vh;
        margin-bottom: 55px;
    }

    input {
        display: block;
        margin: auto;
        margin-bottom: 45px;
        width: 50%;
        font-size: 1.5rem;
        border-radius: 13px;
        padding-left: 14px;

        &:hover {
            width: 60%;
        }
    }
    button {
        color: white;
        background-color:  rgb(70, 66, 248);
        width: 50%;
        font-size: 1.8rem;
        border-radius: 13px;

        &:hover {
            background-color: blue;
            width: 60%;
        }
    }
    .login-signup-link {
        font-size: 1.3rem;
        padding-top: 25px;

        a {
            color: blue;
            font-size: 1.35rem;

            &:hover {
                color: red;
                font-size: 1.4rem;
            }
        }
    }
}