.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menu,
.main {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

/* dash board */
.menu {
    width: 20%;
    float: left;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: peru;
    text-align: center;
}

.main {
    height: 700px;
    padding-left: 5px;
    width: 80%;
    float: left;
    overflow: hidden;

    h1 {
        font-family: cursive;
        font-size: 3.8rem;
        margin-top: 3vh;
        margin-bottom: 55px;
        color: white;
    }
}

.container-fluid {
    padding: 0;
}

.banner {
    background-color: peru;
    text-align: center;
    color: #23397f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 20%;
    display: grid;
}

.content {
    float: left;
    height: 73%;
    width: 100%;
    color: #23397f;
    border: 2px solid;
}

// .tableBody th,
// .tableBody td{
//     border: 1px solid #2339ff;
//     width: 50%;
// }
// .tableBody th{
//     background-color: #2339ff;
//     color: white;
// }
// .onestuff{
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-evenly;
// }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 55px;
}

h5 {
    font-size: 20px;
    margin-top: 60px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 2.3rem;
}

// label{
//     display: block;
//     margin-top: 10px;
//     font-size: 20px;
//     font-family: cursive;
// }
/* #contact, #subject, #message{
    border: 1px solid #000;
    font-size: 20px;
    width: 80%;
    margin-top: 15px;
}
#contact, #subject{
    height: 30px;
} */

/* error status */
// // #myStatus{
// //     text-align: center;
// //     color: red;
// //     background: white;
// //     display: none;
// // }

// // .blank{
// //     text-align: center;
// //     color: red;
// //     background: white;
// //     font-size: 30px;
// //     display: none;
// // }

// table{
//     width: 100%;
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
// }

// .allMsgs{
//     display: block;
//     border: 2px solid #2339ff;
//     box-shadow: inset 0 0 10px #23397f;
// }

// .senders{
//     padding-left: 3px;
//     padding-right: 3px;
//     display: inline;
//     width: 25%;
// }
// td a{
//     padding-left: 5px;
//     display: inline;
// }
// td a button,
// td button{
//     width: 60px;
// }

// .date{
//     padding-left: 5px;
//     display: inline;
// }

// #renameGroup,
// #createGroup{
//     text-align: center;
//     padding-top: 2%;
//     margin-top: 2%;
// }

.mails{
    color: #e2f8f1;
    text-decoration: none;
    position: relative;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
}
// .mails:hover{
//    background-color:white;
//    color: #23397f;
// }

// textarea{
//     overflow: auto;
//     white-space: nowrap;
//     resize: none;
//     height: 150px;
//     width: 80%;
//     outline: none;
//     font-size: 20px;
//     border: 1px solid #ff652f;
// }

// li input[type="submit"]{
//     background: #4772cf;
//     font-size: 20px;
//     cursor: pointer;
//     border-radius: 20px;
//     height: 40px;
//     width: 20%;
//     margin-bottom: 15px;
//     font-family: Arial, Helvetica, sans-serif;
//     color: white;
// }
// li input[type="submit"]:hover{
//     background-color: white;
//     color: #4772cf;
// }

// li input[type="email"]:hover{
//     outline: 1px solid gray;
// }
// textarea:hover{
//     outline: 1px solid gray;
// }
// .read{
//     display: flex;
//     padding: 1px;
//     margin: 1px;
// }
// .from{
//     padding-left: 55px;
//     display: inline;
//     margin-right: 365px;
// }
// li .read{
//     border-bottom: 1px solid #555;
//     align-items: baseline;
// }

// li:last-child .read{
//     border-bottom: none;
// }
// .row{
//     border-bottom: 5px solid red;
//     width: 40px;
//     padding-bottom: 15px;
// }

// td a{
//     text-decoration: none;
//     color: #23397f;
// }
// td a:hover{
//     color: white;
//     background: #23397f;
// }
// .full-message{
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     padding-right: 20px;
//     width: 400px;
//     float: left;
// }